<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982448249723-nms96f7o99613c2j17pbvo2t7sambi3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982448249723-nms96f7o99613c2j17pbvo2t7sambi3o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982448249723-nf8rebol9v6c1dacr1nurt1lm8ju22hg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiFKgVMNEi_7bGTu6j4VLIZLdX_GSBXOo</string>
	<key>GCM_SENDER_ID</key>
	<string>982448249723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrogCOO.Acts</string>
	<key>PROJECT_ID</key>
	<string>acts-d7c7f</string>
	<key>STORAGE_BUCKET</key>
	<string>acts-d7c7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982448249723:ios:e9481cb5efb4aab732fbde</string>
	<key>DATABASE_URL</key>
	<string>https://acts-d7c7f-default-rtdb.firebaseio.com</string>
</dict>
</plist>